@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('./images/background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inp-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}

.inp-field button {
    cursor: pointer;
    padding: 10px;
    width: max-content;
    background: #f0f0f0;
    color: #333;
    border-radius: 20px;
    transition: all .5s;
}

.inp-field button:hover {
    background: #333;
    color: #fff;
}

.inp-field input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 400px;
    outline: none;
}

.city {
    margin-bottom: 10px;
}

.city p, .city span {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.temp h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.desc p {
    font-size: 1.5rem;
    color: #555;
}

.footer {
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.footer div {
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;    
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.footer .bold {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

/* Новые стили для кругов */
.footer button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer button:hover {
    background-color: #555;
}